<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="MongoApplicationServices" connectionString="mongodb://localhost/ApplicationServices" />
    <add name="MongoConncetion" connectionString="mongodb://localhost/MovieCatalog" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership defaultProvider="MongoMembershipProvider">
      <providers>
        <clear />
        <add name="MongoMembershipProvider" type="DigitalLiberationFront.MongoDB.Web.Security.MongoMembershipProvider" 
             connectionStringName="MongoApplicationServices" applicationName="/"
             passwordFormat="clear"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
        
        <!--<add name="AspNetSqlMembershipProvider" type="MovieCatalog.Models.MembershipProvider`1[[System.Web.Security.SqlMembershipProvider]], MovieCatalog" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />-->
        <!--
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
             -->
      </providers>
    </membership>
    <profile defaultProvider="MongoProfileProvider">
      <providers>
        <clear />
        <add name="MongoProfileProvider" type="DigitalLiberationFront.MongoDB.Web.Profile.MongoProfileProvider" 
             connectionStringName="MongoApplicationServices" applicationName="/" />
      </providers>
      <properties>
        <add name="UserId" type="String" />
      </properties>
    </profile>
    <roleManager enabled="false" defaultProvider="MongoRoleProvider">
      <providers>
        <clear />
        <add name="MongoRoleProvider" type="DigitalLiberationFront.MongoDB.Web.Security.MongoRoleProvider" 
             connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState>
      <providers>
        <clear />
        <add name="MongoSateProvider" type="DigitalLiberationFront.MongoDB.Web.SessionState.MongoSessionStateStore" 
             connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </sessionState>
      
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.4349" newVersion="1.3.1.4349" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.4349" newVersion="1.3.1.4349" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>